package templates

import (
	"github.com/jpcummins/satwatch/internal/api"
)

func hasVerifiedEmail(emails []api.Email) bool {
	for _, email := range emails {
		if email.IsVerified == true {
			return true
		}
	}
	return false
}

templ ComponentConfigurationWarning(webhooks []api.Webhook, emails []api.Email) {
	if len(webhooks) == 0 && len(emails) == 0 {
		@NoNotificationsWarning()
	} else if hasVerifiedEmail(emails) == false {
		@UnverifiedEmailWarning(emails)
	}
}
